.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header_top .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header_top {
    display: inline-flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 18px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

.header_body {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_image {
    max-width: 100%;
    height: auto;
}

.header_top,
.header_body {
    margin: 1% 10% 5% 10%;
}