.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

.header_top .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header_top {
    display: inline-flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 18px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

.header_body {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.header_text {
    flex-grow: 1;
    order: 1;
    display: flex;
    flex-flow: column wrap;
    display: block;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-right: 10px;
}

.header_text .main_text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header_text .secondary_text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.header_body img {
    max-width: 50%;
    height: auto;
    align-self: flex-end;
    flex-basis: auto;
    order: 2;
}

.header_top,
.header_body {
    margin: 1% 10% 5% 10%;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    display: block;
    width: 150px;
}