.header {
    display: flex;
    flex-direction: column;
}

.header_top {
    display: inline-flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.header_body {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_image {
    max-width: 100%;
    height: auto;
}